In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math as math
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('18-19 attendance master.csv')
data

,School Year,ChildID,AttendanceDate,Attendance,Center,Classroom,Session,Session_detail,ProgramType,AbsenceCodeDesc
0,18-19,57894,10/15/2018,Best Interest,FH,NaN,FD,NaN,FH,Best Interest
1,18-19,61922,11/28/2018,Best Interest,FH,NaN,FD,NaN,FH,Best Interest
2,18-19,61522,12/7/2018,Best Interest,FH,NaN,FD,NaN,FH,Best Interest
3,18-19,49392,12/13/2018,Best Interest,FH,NaN,FD,NaN,FH,Best Interest
4,18-19,52902,12/17/2018,Best Interest,FH,NaN,FD,NaN,FH,Best Interest
...,...,...,...,...,...,...,...,...,...,...
676475,18-19,59942,6/27/2019,Unexcused Absence,Cox,149.0,PD,PM,Preschool,Unexcused Absence
676476,18-19,61001,9/27/2018,Unexcused Absence,Decoto,40.0,PD,PM,Preschool,Unexcused Absence
676477,18-19,56838,4/8/2019,Unexcused Absence,Grant,109.0,PD,PM,Preschool,Unexcused Absence
676478,18-19,61984,2/26/2019,Unexcused Absence,Hillview,47.0,PD,PM,Preschool,Unexcused Absence
676479,18-19,57181,8/10/2018,Unexcused Absence,Hubbard,83.0,PD,PM,Preschool,Unexcused Absence

In [3]:
demog = pd.read_csv('PvH-demographicsdash_childdata.csv')
demog[demog['ChildID'].isna()]

# demog['ChildID'].isna()
# demog['ChildID'] = demog.ChildID.astype(int)
# demog

,ChildDateofBirth,ChildEthnicity,ChildFlags,ChildID,ChildLanguage,ChildRace
58248,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.columns

Index(['School Year', 'ChildID', 'AttendanceDate', 'Attendance', 'Center',
       'Classroom', 'Session', 'Session_detail', 'ProgramType',
       'AbsenceCodeDesc'],
      dtype='object')

In [19]:
col_unique = []
for col in data.columns:
    col_unique.append(data[col].unique())
    
col_unique_count

[]

In [30]:
data[data['Attendance'] == 'Other']['AbsenceCodeDesc'].unique()

array(['Not Scheduled', 'Emergency Closure', 'Family Emergency',
       'Not Enrolled', 'Inactive:  14 Day Term NOA', 'Contracted Care',
       'Court Appointed Visitation',
       'BI CPS - Best Interest in excess of 10 for CPS', 'Quarantine'],
      dtype=object)

In [27]:
data['Attendance'].unique()

array(['Best Interest', 'In Attendance', 'Sick', 'Other',
       'Unexcused Absence'], dtype=object)

In [14]:
data.isnull().sum()

School Year             0
ChildID                 0
AttendanceDate          0
Attendance              0
Center                  0
Classroom           24476
Session                 0
Session_detail     308834
ProgramType             0
AbsenceCodeDesc         0
dtype: int64

In [24]:
data['Attendance'].value_counts()

In Attendance        554015
Sick                  79336
Best Interest         22262
Other                 14835
Unexcused Absence      6032
Name: Attendance, dtype: int64

In [ ]:
student_attendance =