# Hopefully this is a good place to start - Derek

In [1]:
import pandas as pd

In [3]:
pd.read_csv('18-19 attendance master.csv')

,School Year,ChildID,AttendanceDate,Attendance,Center,Classroom,Session,Session_detail,ProgramType,AbsenceCodeDesc
0,18-19,57894,10/15/2018,Best Interest,FH,NaN,FD,NaN,FH,Best Interest
1,18-19,61922,11/28/2018,Best Interest,FH,NaN,FD,NaN,FH,Best Interest
2,18-19,61522,12/7/2018,Best Interest,FH,NaN,FD,NaN,FH,Best Interest
3,18-19,49392,12/13/2018,Best Interest,FH,NaN,FD,NaN,FH,Best Interest
4,18-19,52902,12/17/2018,Best Interest,FH,NaN,FD,NaN,FH,Best Interest
...,...,...,...,...,...,...,...,...,...,...
676475,18-19,59942,6/27/2019,Unexcused Absence,Cox,149.0,PD,PM,Preschool,Unexcused Absence
676476,18-19,61001,9/27/2018,Unexcused Absence,Decoto,40.0,PD,PM,Preschool,Unexcused Absence
676477,18-19,56838,4/8/2019,Unexcused Absence,Grant,109.0,PD,PM,Preschool,Unexcused Absence
676478,18-19,61984,2/26/2019,Unexcused Absence,Hillview,47.0,PD,PM,Preschool,Unexcused Absence
676479,18-19,57181,8/10/2018,Unexcused Absence,Hubbard,83.0,PD,PM,Preschool,Unexcused Absence